<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .category-list, .sentence-list, .form-container {
            padding: 20px;
        }

        .category-card {

        background-color:#85C1E9;

        }

        .category-list {
background-color:#DCD7D6;
        }

        .category-card, .sentence-card {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;
        }
         .sentiment-box {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            display: inline-block;
        }

         #loadingSpinner {
        display: none;
        margin-top: 10px;
        font-size: 16px;
        color: #333;
        text-align: center;
    }

<!--    #loadingSpinner::before {-->
<!--        content: "";-->
<!--        border: 4px solid #ccc;-->
<!--        border-top: 4px solid #3498db;-->
<!--        border-radius: 50%;-->
<!--        width: 20px;-->
<!--        height: 20px;-->
<!--        display: inline-block;-->
<!--        animation: spin 1s linear infinite;-->
<!--    }-->

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .loading-spinner-container {
        display: flex;
        align-items: center;
    }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 category-list">
            <h2>Categories</h2>

            {% for category in categories %}
            <div class="category-card" onclick="showSentences({{ category.id }})">
                            <div class="d-flex justify-content-between align-items-center">

                <span>{{ category.name }}</span>
        <button><a href="{% url 'download_category_csv' category.name %}">Download CSV</a></button>

            </div>
            </div>

            {% endfor %}
            <a href="{% url 'create_category' %}">Create New Category</a>

        </div>

        <div class="col-md-8">

            <div class="row">

                <div class="col-md-6 sentence-list" id="sentence-list">
                    {% for sentence in sentences %}
                    <div class="sentence-card">
                        {{ sentence }}
                    </div>
                    {% endfor %}
                </div>
            </div>

<div class="col-md-8 form-container position-relative">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Create Sentence</h2>

            <form id="createSentenceForm">
                <div class="input-group mb-3">
                    <input type="text" id="newSentence" class="form-control" placeholder="Enter your sentence" required>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" onclick="createNewSentence()" id="submitButton">Submit</button>
                    </div>
                </div>
            </form>

            <div id="loadingSpinner" class="text-center position-absolute" style="top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(255, 255, 255, 0.7); display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>


            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
        let selectedCategoryId;

        function showSentences(categoryId) {

    selectedCategoryId = categoryId;


    fetch(`/${categoryId}/`)
        .then(response => response.json())
        .then(data => {

            const sentenceList = document.getElementById('sentence-list');
            sentenceList.innerHTML = '';

            data.user_inputs.forEach(userInput => {
                const sentenceCard = document.createElement('div');
                sentenceCard.classList.add('sentence-card');
                const sentimentBox = document.createElement('div');
                sentimentBox.classList.add('sentiment-box');
                sentimentBox.style.backgroundColor = getSentimentColor(userInput.sentiment_label);
                const textContent = document.createElement('div');
                textContent.textContent = `Text Content: ${userInput.sentence}`;

                const sentimentResult = document.createElement('div');
                sentimentResult.textContent = `Sentiment Result: ${userInput.sentiment_label}`;

                sentenceCard.appendChild(textContent);
                sentenceCard.appendChild(sentimentResult);
                sentenceCard.appendChild(sentimentBox);

                sentenceList.appendChild(sentenceCard);
            });

        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}


function createNewSentence() {
            const newSentenceInput = document.getElementById('newSentence');
            const newSentence = newSentenceInput.value;
                const submitButton = document.getElementById('submitButton');

            const csrftoken = getCookie('csrftoken');
                submitButton.disabled = true;


                const loadingSpinner = document.getElementById('loadingSpinner');
                loadingSpinner.style.display = 'block';
            fetch(`/add_sentence/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ newSentence: newSentence }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('New sentence created:', data);
                                loadingSpinner.style.display = 'none';
                                        submitButton.disabled = false;
                                 showSentences(data['category_id']);

                                  if (data.success) {
            // Item added successfully, update sentence list using AJAX
            showSentences(selectedCategoryId ?? 1);
        } else {
            // Show error modal
            document.getElementById('errorMessage').innerText = data.msg;
            $('#errorModal').modal('show');
        }


                })
                .catch(error => {
                    console.error('Error creating new sentence:', error);
                                loadingSpinner.style.display = 'none';
                                        submitButton.disabled = false;


                });

            newSentenceInput.value = '';
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function getSentimentColor(sentiment) {
    switch (sentiment.toLowerCase()) {
        case 'positive':
            return 'green';
        case 'negative':
            return 'red';
        case 'neutral':
            return '#cccccc';
        default:
            return '#cccccc';
    }
}


</script>

</body>
</html>
